{{ define "main" }}    
<section class="section">
    <div class="container"> 
        <div class="row">
            {{$pageId := .Params.id }}
            {{ $data := index .Site.Data .Params.id }}

            {{if .Params.sidebar}}
               {{ partial "aside.html" . }}
            {{end}}
                
            <div class="{{if .Params.sidebar}} col-xs-12 col-sm-12 col-md-9 {{else}}  col-12 {{end}}">
                {{$listpage := where site.RegularPages "Section" $pageId}}
                <ul class="catlist">                    
                    {{range $data}}
                        {{$curType := . }}
                        <li id="{{ replaceRE "(\\s)" "" . | lower }}"><strong>{{$curType }}</strong></li>
                        <ul>
                            {{ range ( $listpage.ByParam "catType") }}
                                {{if eq .Params.catType $curType}}
                                    <li>
                                        <!-- <a href="{{ .RelPermalink }}">{{.Title}}</a> -->
                                        {{if or (eq .Params.linkType "external") (eq .Params.linkType "internal") }}
                                            <a href="{{ .Params.Permalinks }}" target="_blank">{{.Title}}</a>
                                        {{else}}
                                            <a href="{{ .RelPermalink }}">{{.Title}}</a>
                                        {{end}}



                                        <p class="text-muted">{{.Params.subTitle}}</p>                                        
                                        {{if .Params.btn }}
                                        <div class="btn-links">
                                            {{range .Params.btn }}                                        
                                                {{if .name }}                                 
                                                <a class="btn btn-outline-primary btn-sm my-0 mr-1 " href="{{.url}}">{{.name}}</a>
                                                {{end}}
                                            {{ end }}
                                        </div>
                                        {{end}}
                                    </li>
                                {{end}}
                            {{end}}
                        </ul>
                        

                    {{end}}
                </ul>
                

                {{ .Content  | safeHTML }}
                
            </div>


        </div>
    </div>
</section>

{{ end }}

