<style type="text/css">

.image-cropper {
  width: 200px;
  height: 200px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}


</style>

<section class="section">
    <div class="container">
        <div class="row">
            
            {{$author:= "gerard"}}
            {{ $person_page_path := (printf "/authors/%s" (urlize $author)) }}
            {{ $person_page := site.GetPage $person_page_path }}
            
            {{ $person := $person_page.Params }}
            {{ $avatar := ($person_page.Resources.ByType "image").GetMatch "*avatar*" }}
            <div class="col-12 col-lg-3">
                <div id="profile" class="mt-2">
                    {{ $avatar_image := $avatar.Fill "225x225 Center" }}
                    <img class="image-cropper" src="{{ $avatar_image.RelPermalink }}" itemprop="image" alt="{{ $author }}">

                    <div class="portrait-title text-center">
                      <!-- <h2 itemprop="name">{{ $person.name }}</h2> -->
                      {{ with $person.role }}<h3 itemprop="jobTitle" class="mt-2">{{ . | safeHTML | emojify }}</h3>{{ end }} <!-- To make this text look like paragraphs style, change <h3></h3> to <p></p> -->    
                      <h3><a href="{{ $person.link1}}">{{ with $person.link1text }} {{ . | safeHTML | emojify }} {{ end }}</a></h3> <!-- To make this text look like paragraphs style, change <h3></h3> to <p></p> -->    
                      <h3><a href="{{ $person.link2}}">{{ with $person.link2text }} {{ . | safeHTML | emojify }} {{ end }}</a></h3>   <!-- To make this text look like paragraphs style, change <h3></h3> to <p></p> -->    
                      {{ with $person.addtext }}<h3 itemprop="jobTitle" class="mt-2">{{ . | safeHTML | emojify }}</h3>{{ end }}  <!-- To make this text look like paragraphs style, change <h3></h3> to <p></p> -->    
                    
                      {{if  $person.courses}}
                        <ul class="courselist">
                     
                            {{ range $person.courses }}
                            <li>
                           <h3> {{ with .course }} {{.}}{{ end }}
                            <span >{{ .institution }}</span>
                            <em>{{ .year }}</em></h3>
                            </li>
                            {{ end }}
                            
                            </ul>
                        {{end}}
                     
                    </div>
              
                    <link itemprop="url" href="{{ .Permalink }}">
              
                    <ul class="network-icon" aria-hidden="true">
                      {{ range $person.social }}
                        {{ $pack := or .icon_pack "fas" }}
                        {{ $pack_prefix := $pack }}
                        {{ if in (slice "fab" "fas" "far" "fal") $pack }}
                          {{ $pack_prefix = "fa" }}
                        {{ end }}
                        {{ $link := .link }}                        
                        {{ $img := .image }}
                        {{ $scheme := (urls.Parse $link).Scheme }}
                        {{ $target := "" }}
                          {{ if not $scheme }}
                            {{ $link = .link | relLangURL }}
                          {{ else if in (slice "http" "https") $scheme }}
                          {{ $target = "target=\"_blank\" rel=\"noopener\"" }}
                      {{ end }}
                      
                      <li>
                        
                        <a itemprop="sameAs" href="{{ $link | safeURL }}" {{ $target | safeHTMLAttr }}>
                          {{if $img}} 
                            <img src="{{$img}}" alt="{{.icon}}">
                          {{else}}
                          
                          <i class="{{ $pack }} {{ $pack_prefix }}-{{ .icon }} big-icon"></i> 
                          
                          {{end}}
                          
                        </a>
                        
                      </li>
                      {{ end }}
                       <div class="portrait-title text-center">
                          <h3><a>  </a></h3> 
                      <h3><a href="{{ $person.link3}}">{{ with $person.link3text }} {{ . | safeHTML | emojify }} {{ end }}</a></h3>   <!-- To make this text look like paragraphs style, change <h3></h3> to <p></p> -->    
                      <h3><a href="{{ $person.link4}}">{{ with $person.link4text }} {{ . | safeHTML | emojify }} {{ end }}</a></h3>   <!-- To make this text look like paragraphs style, change <h3></h3> to <p></p> -->    
                          {{ with $person.addtext2 }}<h3 itemprop="jobTitle" class="mt-2">{{ . | safeHTML | emojify }}</h3>{{ end }}   <!-- To make this text look like paragraphs style, change <h3></h3> to <p></p> -->    
                      </div>
                      

 

                    </ul>
              
                  </div>
            </div>
            
            <div class="col-12 col-lg-9 about-content">
                {{ $person_page.Content  }}
            </div>
        </div>
    </div>

</section>