<div class="col-3 aside black d-none d-lg-block" id="sidebar">
    <div class="posfixed">
        {{ $data := index .Site.Data .Params.id }}
        <h2 class="mt-0">{{ .Title }}</h2>
        <ul class="list-unstyled">
            {{ range $index, $element := $data}}
                <li class=" mb-2"><a href="#{{ replaceRE "(\\s)" "" . | lower }}">{{.}}</a></li>
            {{end}}
        
        </ul>

        {{if eq .URL "/research/"}}
        <h2 class="mt-3">Filter by Area</h2>

        {{- if isset .Site.Taxonomies "area" }}
            {{- if not (eq (len .Site.Taxonomies.area) 0) }}
            <ul class="list-unstyled mb-0 black">
                {{- range $name, $items := .Site.Taxonomies.area }}
                <li class=" mb-2">
                    <a href="{{ "area/" | relLangURL }}{{ $name | urlize | lower }}" class="d-block text-color py-10">{{ $name | title | humanize }}</a>
                </li>
                {{- end }}
            </ul>
            {{- end }}
            {{- end }}
        
        <!-- {{if .Params.area }}
        <div class="btn-links">
            {{range .Params.area }}                                        
               <a class="btn btn-outline-primary btn-sm my-0 mr-1 " href="{{.}}">{{.}}</a>
            {{ end }}
        </div>
        {{end}} -->
        {{end}}
    </div>
    
</div>