<section class="section pt-1">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h4>Recent Blog Posts</h4>    <!-- Change tp h3 to make font size of header larger -->
                    {{ range $index, $elem := where site.RegularPages "Section" "blog" | first 5 }}
                                          <div class="publication-list">
                        <div class="row">
                            <div class="col-12 col-lg-8">
                                <h3 class="article-title" itemprop="name">
                                    <a href="{{ .RelPermalink }}" itemprop="url">{{ .Title }} </a> 
                                  
                                    
                                </div>                           
                            </div>
                            <div class="row">                            
                                <div class="col-12 col-lg-8">                                
                                    {{ with .Summary }}
                                        <div class="col-md-0" itemprop="articleBody">
                                            {{ . | truncate 500 }}
    
                                        </div>

                                    {{ end }}   
                                      {{ if .Params.PublishDate }} <span class="text-muted">{{ .PublishDate.Format "Jan 02, 2006" }}</span> {{end}}
                                </div>
                                        <div class="{{if .Params.image }} col-md-3 {{else}} d-none {{end}}">
                                            <img src="{{ .Params.image | absURL }}" alt="{{.Params.image }}" class="img-fluid">

                                </div>
                            </div>
                        </div>
                   
                    {{ end }}
            </div>
        </div>
    </div>
</section>
