{{ range $index, $elem := where site.RegularPages "Section" "research" }}
  {{ if $elem.Params.SelectedPub }}  <!-- Filters only selected publications -->
  
  <h3><a href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
  <p><em>{{ .Params.Journal }}</em>, {{ .Params.YearCoauthors }}</p>

  {{ partial "smbtn.html" . }}

  {{ with .Summary }}
    <p>{{ . | safeHTML | truncate 500 }}</p>
  {{ end }}

  {{ range .Params.images }}
    <img src="{{ .path }}" alt="{{ .caption }}" style="max-width:100%;">
    <p>{{ .caption }}</p>
  {{ end }}

  {{ end }} <!-- Closes if condition -->
{{ end }}