
        {{ "<!-- tags -->" | safeHTML }}
        <div class="mb-50">
            <h4 class="mb-3">Tags</h4>
            {{- if isset .Site.Taxonomies "tags" }}
            {{- if not (eq (len .Site.Taxonomies.tags) 0) }}
            <ul class="list-inline tag-list">
                {{- range $name, $items := .Site.Taxonomies.tags }}
                <li class="list-inline-item"><a href="{{ "tags/" | relLangURL }}{{ $name | urlize | lower }}">{{ $name | humanize }}</a></li>
                {{- end }}
            </ul>
            {{- end }}
            {{- end }}
        </div>