{{- define "main" -}}

{{if .Site.Params.underconstruction }}
  {{ partial "underConstruction.html" . }}
  
{{else}}
    {{ partial "about.html" . }}
     {{ partial "news-update.html" . }} <!-- News & Updates placed here -->
    <!--   Uncomment this line to make Recent Working Papers section appear at the bottom: {{ partial "recent-working-papers.html" . }}  -->
    {{ partial "selected-publications.html" . }}  
   <!-- Uncomment this line to make Recent Blog Posts section appear at the bottom: {{ partial "recent-blog-posts.html" . }}  -->
    <!-- Uncomment this line to make News and Updates section appear at the bottom: {{ partial "news-update.html" . }} -->

{{ end }}
  
  
{{- end -}}
