{{ define "main" }}    
<section class="section single-page">
    <div class="container">         
        <div class="row">
            <div class="col-3 aside black d-none d-lg-block">
                <div class="posfixed">
                    {{ .TableOfContents }}
                </div>
                
            </div>

            <div class="col-lg-9 col-sm-12 mb-2">
                <h4 class="title-page">{{ .Title }}</h4> 
                {{if .Params.subTitle}}
                    <p class="text-muted">{{.Params.subTitle}}</p> 
                {{end}}
                {{if  .Params.btn    }}
                    <div class="btn-links lg">
                        {{range .Params.btn }}  
                            {{ if .name }}                                      
                                <a class="btn btn-outline-primary btn-sm my-0 mr-1 " href="{{.url}}">{{.name}}</a>
                            {{end}}
                        {{ end }}
                    </div>
                {{end}}
                <!-- {{if .Date}}     
                    <span class="text-muted">{{.Date.Format "01, January, 2006 "}} </span>
                {{end}} -->
                

                {{ .Content  | safeHTML }}
            </div>
        </div> 
    </div>
</section>

{{ end }}

